body {
    background-color: #B8B8FF;
}

p,
h1 {
    margin: 0;
    padding: 0;
}

.white {
    color: #F8F7FF;
}

.serif {
    font-family: "Noto Serif", serif;
}

.sans {
    font-family: "Noto Sans", sans-serif;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    border: 4px solid #9381FF;
    border-radius: 10px;
}

.hero-img:hover {
    transform: rotate(3deg);
}

.namebtn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-name {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.hero-para {
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
    text-align: center;
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

button {
    display: block;
    border: 3px solid #F8F7FF;
    border-radius: 10px;
    padding: 10px;
    background-color: #9381FF;
    color: #F8F7FF;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    transform: rotate(9deg);
}



/* footer */

